@model IList<Model.District>

    <h2>[DistrictEditor]</h2>
        <table class="table">
            @{ 
                foreach(var a in Model)
                {
                    <tr>
                        <td>
                            @a.Name
                        </td>
                        <td>
                            @Html.ActionLink(Resources.Resource.deleteString, "DeleteDistrict", new { Id = a.Id })
                        </td>
                    </tr>
                }
            }

            @using (Html.BeginForm())
            {
                <tr>
                    <td>
                        <input type="text" name="Name" autofocus  style="width:99%; border-bottom-width:2; border-top-width:0; border-right-width:0; border-left-width:0;"/>
                    </td>
                    <td>
                        <input type="submit" value=@Resources.Resource.addString />
                    </td>
                </tr>
            }
        </table>
