@model Model.DTO.LoginModel



  
    <div>
        @using (Html.BeginForm("Authentification"))
        {
            <table>
                @Html.ValidationSummary()
                <tr>
                    <td>Login</td>
                    <td>@Html.EditorFor(x => x.UserName)</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>@Html.EditorFor(x => x.Password)</td>
                </tr>
            </table>
            <input type="submit" value="Log in" />
        }
    </div>
